<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <%= link_to "Twitter style Web application","/", class: "navbar-brand" %>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">

      <span class="sr-only">メニュー</span><!--音声ブラウザにメニューがあることを伝えています-->
      <span class="icon-bar"></span><!--ハンバーガーメニューの三本線を設定-->
      <span class="icon-bar"></span><!--ハンバーガーメニューの三本線を設定-->
      <span class="icon-bar"></span><!--ハンバーガーメニューの三本線を設定-->

    </button>

  </div>

  <div id="gnavi" class="collapse navbar-collapse"><!--ハンバーガーメニュー内に折り畳まれる部分の設定-->
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "投稿一覧", user_tweets_path(@current_user) %></li>
        <li><%= link_to "新規投稿", new_user_tweet_path(@current_user) %></li>
        <li><%= link_to @current_user.email + "さん", user_path(@current_user) %></li>
        <li><%= link_to "ログアウト", session_path(@current_user), method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン", new_session_path %></li>
        <li><%= link_to "新規登録", new_user_path %></li>
      <% end %>
    </ul>
  </div>
</nav>